html {
  cursor: url(imagens/mata_mosquito.png) 30 30, auto;
}

body {
  background-image: url(imagens/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.mosquito1 {
  width: 50px;
  height: 50px;
}

.mosquito2 {
  width: 70px;
  height: 70px;
}

.mosquito3 {
  width: 90px;
  height: 90px;
}

.ladoA {
  transform: scaleX(1);
}
.d-flex {
  max-height: 70vh;
}
.ladoB {
  transform: scaleX(-1);
}

.painel {
  position: absolute;
  width: 190px;
  padding: 10px;
  left: 0px;
  bottom: 0px;
  border-top: solid 1px #fff;
  background-color: #fff;
  opacity: 0.7;
}

.vidas {
  float: left;
}

.cronometro {
  float: left;
  font-size: 20px;
  font-weight: bold;
}
.btn-danger,
#nivel {
  height: 3rem;
  width: max-content;
}

@media (max-width: 375.98px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .d-flex img {
    max-width: 80vw;
  }
  #nivel {
    height: 15vw;
    width: max-content;
    padding: 0;
  }
  .btn-danger {
    height: 15vw;
    width: max-content;
    padding: 0 0.3rem;
  }
  .form-control,
  .btn-danger {
    font-size: 5vw;
  }
}

@media (min-width: 376px) and (max-width: 767.98px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .d-flex img {
    max-width: 80vw;
  }
  .btn-danger,
  #nivel {
    height: 2rem;
    width: max-content;
    padding: 0 0.3rem;
  }
}
